@import url('https://fonts.googleapis.com/css2?family=Galada&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Galada", cursive;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
*/

.body {
    background-color: var(--bg-color-body-manager);
}

.main {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-bar-vertical {
    width: 100%;
    border-right: var(--border-manager);
}

.management-content {
    width: 100%;
}

.menu-bar-vertical, .management-content, .main {
    height: 100%;
}

.menu-bar-vertical-img {
    border-bottom: var(--border-manager);
    display: flex;
    justify-content: left;
    margin-left: -10px;
    overflow: hidden;
}

.menu-bar-vertical-img img {
    width: 280px;
    margin-top: -90px;
    margin-bottom: -100px;
    filter: contrast(0%);
}

.menu-bar-vertical-username {
    padding: 20px;
}

.menu-bar-vertical-username h2 {
    font-family: "Poppins", sans-serif;
    /* color: #ffffffac; */
    color: var(--text-color);
    font-weight: 300;
    font-size: 1rem;   
}

.folder-structure {
    padding-top: 20px;
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-bottom: var( --border-manager);
}

.folder, .file {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

    transition: .3s all;
}

.folder:hover, .file:hover {
    background-color: #ffffff18;
}

.folder img, .file img {
    margin-left: 5px;
    width: 15px;
}

.folder img {
    filter: var(--filter-folder-img);
}

.folder, .file p {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: .7rem;   
}

.btnOpenChildrenForFolder {
    cursor: pointer;
    transform: rotate(-90deg);
}

.btnOpenChildrenForFolder:active {
    transform: rotate(0deg);
}

.child {
    display: none;
    flex-direction: column;
    gap: 0px;
    padding-inline-start: 6px;
}

.show-child {
    display: flex;
}

.file-default {
    filter: var(--filter-folder-img);
}

.management-content {
    padding: 30px;
}

.box-button-to-go-back {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.box-button-to-go-back img {
    width: 20px;
    filter: var(--filter-folder-img);
}

.box-button-to-go-back h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    opacity: .8;
    font-size: 1rem;
    color: var(--text-color);
}

.management-content-header {
    margin-top: 40px;
}

.management-content-header h1 {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.management-content-header-options {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.management-content-header-options button {
    height: 45px;
    width: 120px;
    border-radius: 5px;
    background-color: var(--bg-color-button-option);
    color: #fff;
    border: 1px solid #ffffff0e;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid rgb(75, 12, 248);

    transition: .3s all;
}

.management-content-header-options button:hover {
    background-color: transparent;
    border: 1px solid #161616;
    color: var(--text-color-hover-button-option);
}

.table {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.042);
    width: 100%;
    border-collapse: collapse;
	border-radius: 10px;
}

td, th {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    color: var(--text-color-table);
}

th {
    font-weight: 400;
    
}

tbody tr {
	border-top: 1px solid var(--border-tbody-tr-table);
}

tbody tr td:nth-child(1) {
    color: var(--text-color-name-file);
    font-weight: 400;
}

td img {
    width: 20px;
}

.td-file {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media(min-width: 1000px) {

    .main {
        flex-direction: row;
    }

    .menu-bar-vertical {
        width: 28%;
    }

    .management-content {
        width: 72%;
    }

}

@media(min-width: 1150px) {

    .menu-bar-vertical {
        width: 23%;
    }

    .management-content {
        width: 80%;
    }

}

@media(min-width: 1400px) {

    .menu-bar-vertical {
        width: 19%;
    }

    .management-content {
        width: 83%;
    }

}