@import url('https://fonts.googleapis.com/css2?family=Galada&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Galada", cursive;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
*/

.body {
    background-color: var(--bg-color-body-manager);
    overflow-y: auto;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu-bar-vertical {
    width: 100%;
    border-right: var(--border-manager);
}

.management-content {
    width: 100%;
}

.menu-bar-vertical, .management-content, .main {
    height: 100%;
}

.menu-bar-vertical-img {
    border-bottom: var(--border-manager);
    display: flex;
    justify-content: left;
    margin-left: -10px;
    overflow: hidden;
}

.menu-bar-vertical-img img {
    width: 280px;
    margin-top: -90px;
    margin-bottom: -100px;
    filter: contrast(0%);
}

.menu-bar-vertical-username {
    padding: 20px;
}

.menu-bar-vertical-username h2 {
    font-family: "Poppins", sans-serif;
    /* color: #ffffffac; */
    color: var(--text-color);
    font-weight: 300;
    font-size: 1rem;   
}

.select-folder {
    background-color: rgba(0, 98, 255, 0.151);
}

.folder-structure {
    padding-top: 20px;
    padding-bottom: 10px;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-bottom: var( --border-manager);
}

.folder, .file {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

    transition: .3s all;
}

.folder:hover, .file:hover {
    background-color: #ffffff18;
}

.folder img, .file img {
    margin-left: 5px;
    width: 15px;
}

.folder, .file p {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: .7rem;   
}

.btnOpenChildrenForFolder {
    cursor: pointer;
    transform: rotate(-90deg);
}

.btnOpenChildrenForFolder:active {
    transform: rotate(0deg);
}

.child {
    display: none;
    flex-direction: column;
    gap: 0px;
    padding-inline-start: 6px;
}

.show-child {
    display: flex !important;
}

.options-user {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.options-user img {
    width: 25px;
    cursor: pointer;
    filter: var(--filter-folder-img);
}

.management-content {
    padding: 30px;
}

.box-button-to-go-back {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.box-button-to-go-back img {
    width: 20px;
    filter: var(--filter-folder-img);
}

.box-button-to-go-back h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    opacity: .8;
    font-size: 1rem;
    color: var(--text-color);
}

.management-content-table, .folder-structure {
    height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;          /* Firefox */
    scrollbar-color: #5500e8 transparent;  /* Firefox */
}

/* Chrome, Edge, Safari */
.management-content-table::-webkit-scrollbar {
    width: 6px; /* largura da barra */
}

.management-content-table::-webkit-scrollbar-track {
    background: transparent; /* fundo do trilho */
}

.management-content-table::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* cor do scroll */
    border-radius: 10px;    /* bordas arredondadas */
}

.management-content-table::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000; /* cor ao passar o mouse */
}

.management-content-header {
    margin-top: 40px;
}

.management-content-header h1 {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.management-content-header-options {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.img-options-header {
    filter: invert(90%);
    width: 20px;
    transition: .3s all;
}

.management-content-header-options button {
    height: 45px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--bg-color-button-option);
    color: #fff;
    border: 1px solid #ffffff0e;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid rgb(75, 12, 248);

    transition: .3s all;
}

.management-content-header-options button:hover {
    background-color: transparent;
    border: 1px solid #161616;
    color: var(--text-color-hover-button-option);
}

.management-content-header-options button:hover .img-options-header {
    filter: var(--filter-folder-img);
}

.management-content-header-options button:nth-child(4) {
    border: 1px solid #ffffff0e;
    background-color: var(--bg-color-button-option-delete);
    border-bottom: 1px solid rgb(248, 12, 12);
}

.management-content-header-options button:nth-child(4):hover {
    background-color: transparent;
    border: 1px solid #161616;
    color: var(--text-color-hover-button-option);
}

.management-content-header-options button:nth-child(2) {
    border: 1px solid #c30a0a0e;
    background-color: var(--bg-color-button-option-new-folder);
    border-bottom: 1px solid rgb(2, 179, 23);
}

.management-content-header-options button:nth-child(2):hover {
    background-color: transparent;
    border: 1px solid #161616;
    color: var(--text-color-hover-button-option);
}

.table {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.042);
    width: 100%;
    border-collapse: collapse;
	border-radius: 10px;
}

td, th {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    color: var(--text-color-table);
}

th {
    font-weight: 400;
    
}

tbody tr {
	border-top: 1px solid var(--border-tbody-tr-table);
}

tbody tr td:nth-child(1) {
    color: var(--text-color-name-file);
    font-weight: 400;
}

td img {
    width: 20px;
}

tbody tr td:nth-child(3) img {
    filter: var(--filter-folder-img);
    cursor: pointer;
}

.td-file, .td-folder {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: .7rem;
}

.td-datetime {
    font-size: .7rem;
}

.td-options {
    position: relative;
}

.container-new-folder {
    padding: 15px 15px 25px 15px;
    height: auto;
    width: 400px;
    border-radius: 5px;
    background-color: var(--bg-color-container-new-folder);
    box-shadow: 0px 0px 50px rgba(8, 1, 115, 0.151);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transition: .3s all;
}

.show-container-new-folder {
    opacity: 1;
    pointer-events: all;
}

.container-new-folder h1 {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.7em;
}

.btn-close-new-folder {
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
}

.container-new-folder img {
    width: 25px;
}

.container-new-folder-body {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container-new-folder-body input {
    height: 35px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18);
    font-size: .9rem;
    background-color: var(--bg-color-input-new-folder);
    color: var(--text-color);
    padding-inline-start: 10px;
}

.container-new-folder button {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    background-color: rgb(2, 137, 2);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    
    transition: .3s all;
}

.container-new-folder button:hover {
    background-color: transparent;
    color: rgb(0, 153, 0);
    border: 1px solid rgb(0, 153, 0);
}

.container-options {
    position: absolute;
    top: 50px;
    left: -88px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(34, 0, 128);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0;
    pointer-events: none;
    transition: .3s ease-out;
}

.show-container-options {
    opacity: 1;
    pointer-events: all;
}

#img-options {
    filter: invert(100%);
}

.container-options button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    height: 35px;
    background-color: #02022ae8;
    color: #e4dfdf;
    border: 1px solid transparent;
    border: none;
    
    transition: .3s ease;
}

.container-options button:hover {
    background-color: transparent;
    color: #dadada;
}

.container-select-folder-for-move-file {
    height: 550px;
    width: 400px;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: var(--bg-color-select-move);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scrollbar-width: thin;
    scrollbar-color: #0faade transparent;

    opacity: 0;
    pointer-events: none;
    transition: .3s all;
}

.show-container-select-folder-for-move-file {
    opacity: 1;
    pointer-events: all;
}

.container-select-folder-for-move-file h2 {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    padding-bottom: 7px;
    border-bottom: 1px solid #ffffff30;
}

.folder-structure-select-folder-for-move-file {
    height: 71%;
    overflow-y: auto;
}

.selected-folder {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.146);
}

#btn-close-select-folder-for-move-file {
    width: 25px;
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
}

#btn-move-file-for-root-folder {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(55, 15, 155);
    color: #fff;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: 1px solid transparent;

    transition: .3s all;
}

#btn-move-file-for-root-folder:hover {
    color: rgb(55, 15, 155);
    border: 1px solid rgb(55, 15, 155);
    background-color: transparent;
}

#btn-move-file {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(40, 149, 51);
    color: #fff;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: 1px solid transparent;

    transition: .3s all;
}

#btn-move-file:hover {
    color: rgb(40, 149, 51);
    border: 1px solid rgb(40, 149, 51);
    background-color: transparent;
}

@media(min-width: 1000px) {

    .main {
        flex-direction: row;
    }    

    .menu-bar-vertical {
        width: 28%;
    }

    .management-content {
        width: 72%;
    }

    .td-file, .td-folder {
        font-size: .9rem;
    }

    .td-datetime {
        font-size: .9rem;
    }

}

@media(min-width: 1150px) {

    .menu-bar-vertical {
        width: 23%;
    }

    .management-content {
        width: 80%;
    }

}

@media(min-width: 1400px) {

    .menu-bar-vertical {
        width: 19%;
    }

    .management-content {
        width: 83%;
    }

}