@import url('https://fonts.googleapis.com/css2?family=Galada&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Galada", cursive;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
*/

body {
    background-color: var(--bg-color-body);
}

.cloudkeeper-register {
    height: 500px;
    width: 98%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.168);
}

.cloudkeeper-register img {
    width: 100px;
    position: absolute;
    top: 0px;
    
}

.cloudkeeper-register-body {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cloudkeeper-register-body h1 {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    font-weight: 450;
}

.form-register {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-group-register {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group-register label {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    opacity: .6;

    transition: .3s ease;
    pointer-events: none;
}

.animation-label {
    left: 0px;
    top: -10px;
    font-size: .8rem;
    opacity: 1;
}

.form-group-register input {
    height: 45px;
    width: 310px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    padding-inline: 10px;
    background-color: var(--bg-color-input-register);
    box-shadow: var(--box-shadow-input-register);
    color: var(--text-color);
    position: relative;
}

.form-group-register input:focus + label,
.form-group-register input:not(:placeholder-shown) + label {
    left: 10px;
    top: 1px;
    font-size: .8rem;
    opacity: 1;
}

.form-group-register .btnViewPassword {
    width: 25px;
    position: absolute;
    right: 35px;
    filter: invert(50%);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-group-register .btnPasswordWarning {
    width: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.warning-password {
    height: auto;
    width: 270px;
    border-radius: 10px;
    z-index: 400000;
    background-color: var(--bg-color-warning-password);
    position: absolute;
    bottom: -210px;
    right: 30px;
    padding: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.217);

    opacity: 0;
    pointer-events: none;
    transition: .3s all;
}

.show-warning-password {
    opacity: 1;
    pointer-events: all;
}

.warning-password h2 {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
}

.warning-password p {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    font-weight: 350;
    font-size: .9rem;
}

.warning-password img {
    width: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
}

.form-group-register-button button {
    margin-top: 5px;
    background-color: rgb(55, 2, 179);
    width: 310px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    font-size: .8rem;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    color: #fff;

    transition: .3s all;
}

.form-group-register-button button:hover {
    background-color: transparent;
    border: 1px solid rgb(55, 2, 179);
    color: rgb(55, 2, 179);
}

.p-exists-account {
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    margin-top: 15px;
    color: var(--text-color);
}

.p-exists-account a {
    color: rgb(42, 110, 255);
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 400px) {

    .cloudkeeper-register {
        width: 400px;
    }

}

@media (min-width: 600px) {

    .cloudkeeper-register {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.227);
    }

}


@media (min-width: 1000px) {

   .warning-password {
        bottom: 0;
        right: -310px;
   }

}